.customer-list{
    position: absolute;
    margin-left: 23vw;
    top: 100px; 
}

.customer-list hr{
    height: 1px;
    background: #e2e2e2;
    margin-right: 3.5vw;
    border: 0;
}
.Customer-list-title{
    display: grid;
    grid-template-columns: 5fr 5fr 1.5fr 3fr 1.5fr;
    align-items: center;
    gap: 80px;
    padding: 20px 3%;
    color: #454545; 
    font-size: 15px;
    font-weight: 600;
}
.customer-format{
    font-size: 0.8vw;
    font-weight: 500;
}

.name {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    color: black;
}
.name img{
    background-color: #e2e2e2;
    border-radius: 50%;
}