/* OrderPage.css */

.order-page-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #000;
    padding: 20px ;
    color: black;
}

.order-details {
  margin-bottom: 20px;
}
.container{
    border: 1px solid #000000;
    padding: 1vw;
    background-color: white;
    width: 110%;
  margin-left: 30px;
}
  
  .order-table {
    width: 100%;
    color: black;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .order-table th {
    padding: 10px;
    text-align: left;
    color: black;
    border-bottom: 1px solid #000000;
  }
  .order-table td{
    text-align: center;
    color: black;
    padding: 10px;
  }
  
  .product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4vw;
  }
  
  .product-image {
    width: 80px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .product-name {
    margin: 0;
  }
  
  .order-total {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  .subtotal,
  .shipping,
  .total {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .place-order-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  .address-selection {
    margin-top: 20px;
  }
  
  .address-selection h2 {
    margin-bottom: 10px;
  } 
  .add-address-btn{
    margin: 0;
    display: flex;
  }
  .payment{
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    margin-top: 3vw;
    gap: 1vw;
    padding: 2vw;
  }
  .checkbox-wrapper-31{
    margin-top: 1%;
  }
  .payment-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    padding: 1vw 5vw;
    border: 1px solid #fff;
  }
  .order-now-payment{
    display: flex;
    margin-top: 2vw;
    background-color: #007bff;
    color: #000;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1vw 7vw;
  }
  /* Responsive Design */

  .address{
    display: flex;
    flex-direction: column;
    margin: 4vw 0;
    border: 1px solid #000000;
    background-color: white;
    padding: 2vw;
  }
  .address button{
    padding: 1.5vw;
    background-color: #ffc107;
    outline: 0;
    border: 0;
  }
  .address button:hover{
    background-color: #d09d05;
  }
  .address-cards{
    display: flex;
    flex-direction: row;
    padding: 2vw 1.5vw;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;

  }
  .address-card-a{
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .payment{
    display: flex;
    flex-direction: column;
    margin: 4vw 0;
    border: 1px solid #000000;
    background-color: white;
    padding: 2vw;
  }
  .payment-option{
    padding: 2vw 1.5vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    border: 1px solid #000000;
  }
  .bank form{
    width: 100%;
    padding: 2vw 0;
    display: flex;
    gap: 1vw;
    align-items: center;
    flex-direction: column;
    background-color: #000;
  }
  .bank form input{
    width: 90%;
    padding: 1.5vw;
  }
  .contactus form{
    width: 100%;
    padding: 2vw 0;
    display: flex;
    gap: 1vw;
    align-items: center;
    flex-direction: column;
    background-color: #000;
  }
  .contactus form input{
    width: 90%;
    padding: 1.5vw;
  }
  .contactus form select{
    width: 93%;
    padding: 1.5vw;
  }
  .order-button{
    padding: 1.5vw;
    background-color: #ffc107;
    border: 0;
  }
  .order-button:hover{
    background-color: #d09d05;
  }
  @media (max-width: 768px) {
    .order-page-container {
      padding: 10px;
    } 
  
    .product-details {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .product-image {
      width: 100%;
      margin: 0 0 10px;
    }
    .address button{
      padding: 3vw;
    }
    .address-cards{
      display: flex;
      flex-direction: column;
      font-size: 3vw;
    }
    .address-card-a{
      gap: 10px;
    }
    .bin img{
      width: 5vw;
    }
    .payment-option{
      font-size: 3vw;
    }
  }
  
  @media (max-width: 480px) {
    .order-table th{
      font-size: 5px;
    }
    .order-table td {
      font-size: 10px;
    }
  
    .place-order-button {
      font-size: 14px;
    }
  }
  .checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
  }

  .checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
  }
  .checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: #6cbe45;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-31 input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
  }
  .checkbox-wrapper-31 input[type=radio]:hover {
    cursor: pointer;
  }
  .checkbox-wrapper-31 input[type=radio]:checked + svg .background {
    fill: #6cbe45;
  }
  .checkbox-wrapper-31 input[type=radio]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-31 input[type=radio]:checked + svg .check {
    stroke-dashoffset: 0;
  }